/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/* 홈화면 이미지 흘러가도록 */
.image-flow, .image-flow2 {
    padding: 1%;
    width: 100%;
    /* 넘치는 이미지 숨기기 */
    overflow: hidden; 
    /* 이미지들이 가로로 나란히 배치되도록 설정 */
    white-space: nowrap;
  }
  
  .image-flow img {
    display: inline-block;
    width: 100%;
    animation: slide 20s linear infinite;
    /* 이미지가 10초 동안 좌에서 우로 이동하도록 설정 */
  }
  
  
  .image-flow2 img {
    display: inline-block;
    width: 100%;
    animation: slide-inverse 20s linear infinite;
    /* 이미지가 10초 동안 좌에서 우로 이동하도록 설정 */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
  
    100% {
      /* 이미지를 왼쪽으로 이동하여 다시 시작 위치로 돌아가도록 설정 */
      transform: translateX(-66.66%);
    }
  }
  @keyframes slide-inverse {
    0% {
      transform: translateX(-66.66%);
    }
  
    100% {
      /* 이미지를 왼쪽으로 이동하여 다시 시작 위치로 돌아가도록 설정 */
      transform: translateX(0);
    }
  }
  
  .bg-jaen {
    background-color: var(--jaen-green2); 
   }
  
   @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
  body {
    font-family: 'Pretendard-Regular', sans-serif; /* 해당 폰트를 기본 폰트로 설정 */
  }
  /* 수직 스크롤바 */
  ::-webkit-scrollbar {
    width: 0.0rem;
    height: 0; 
  }
  ::-webkit-scrollbar-track {
    background: #fcfdfd; /* 스크롤바 트랙 색상 */
  }
  ::-webkit-scrollbar-thumb {
    background: #c0d899; /* 스크롤바 색상 */
    border-radius: 20px; /* 동그라미를 만들기 위한 경계 반지름 설정 */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tr {
    height: 50px; /* 행의 높이를 지정합니다. */
  }
  .container > th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  /* card custom */
  .custom-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* margin-bottom: 20px; */
    background-color: #fff;
    padding: 0.5rem;
    /* margin: 0.1rem; */
    /* align-items: center; */
    text-align: center;
    display: flex table-column;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #333;
  }
  
  .card-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .card-link:hover {
    background-color: #0056b3;
  }

  .header-inner{
    width: 100%;
  }